################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ReceiveSample/bin/Debug/net5.0/ReceiveSample.deps.json
/ReceiveSample/bin/Debug/net5.0
/ReceiveSample/obj/Debug/net5.0
/ReceiveSample/obj
/ClassLibFIKSIO/bin/Debug/netstandard2.0
/ClassLibFIKSIO/obj/Debug/netstandard2.0
/ClassLibFIKSIO/obj
/SendSample/bin/Debug/net5.0/runtimes/win/lib
/SendSample/bin/Debug/net5.0/runtimes/unix/lib/netcoreapp3.1
/SendSample/bin/Debug/net5.0/RabbitMQ.Client.dll
/SendSample/bin/Debug/net5.0/NLog.dll
/SendSample/bin/Debug/net5.0/Newtonsoft.Json.dll
/SendSample/bin/Debug/net5.0/Microsoft.Win32.SystemEvents.dll
/SendSample/bin/Debug/net5.0/KS.Fiks.Maskinporten.Client.dll
/SendSample/bin/Debug/net5.0/KS.Fiks.IO.Send.Client.dll
/SendSample/bin/Debug/net5.0/KS.Fiks.IO.Client.dll
/SendSample/bin/Debug/net5.0/KS.Fiks.Crypto.dll
/SendSample/bin/Debug/net5.0/KS.Fiks.ASiC-E.dll
/SendSample/bin/Debug/net5.0/JWT.dll
/SendSample/bin/Debug/net5.0/ClassLibFIKSIO.pdb
/SendSample/bin/Debug/net5.0/ClassLibFIKSIO.dll
/SendSample/bin/Debug/net5.0/BouncyCastle.Crypto.dll
/SendSample/bin/Debug/net5.0/sampleNivaa0.xml
/SendSample/bin/Debug/net5.0/SendSample.dll.config
/SendSample/bin/Debug/net5.0/System.Windows.Extensions.dll
/SendSample/bin/Debug/net5.0/System.Security.Permissions.dll
/SendSample/bin/Debug/net5.0/System.Security.Cryptography.ProtectedData.dll
/SendSample/bin/Debug/net5.0/System.Security.AccessControl.dll
/SendSample/bin/Debug/net5.0/System.Drawing.Common.dll
/SendSample/bin/Debug/net5.0/System.Configuration.ConfigurationManager.dll
/SendSample/obj/Debug/net5.0/SendSample.csproj.CopyComplete
/SendSample/obj
/ReceiveSample/ReceiveSample.csproj.user
