<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="CertificatesFolder" value="" />

  <!--KontoConfiguration:-->
  <add key="accountId" value="" />
  <add key="accountPrivateKeyFilename" value="" />

  <!--IntegrasjonConfiguration: -->
  <add key="integrationId" value="" />
  <add key="integrationPassword" value="" />

  <!--MaskinportenClientConfiguration: -->
  <add key="Virksomhetssertifikat" value="" />

  <!--Produksjon-->
  <add key="issuer" value="" />
  <add key="sendToAccountId" value="" />

</appSettings>