<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="CertificatesFolder" value="C:\ISY.GIS.WinMap\FIKS\FIKS-IO\Certificates" />

    <!--KontoConfiguration:-->
    <add key="accountId" value="4b9b958b-2b2c-4986-b6c2-f646f2efe48f" />
    <add key="accountPrivateKeyFilename" value="privkey.pem" />
    <!--<add key="accountId" value="edc26d97-9e0d-4009-9084-26f53749d291" />-->
    <!--<add key="accountKey" value="944101233" />-->

    <!--IntegrasjonConfiguration: -->
    <add key="integrationId" value="16547297-eca2-443e-88f7-f8aab1cb093b" />
    <add key="integrationPassword" value="Csgx.Csk53dFH7Js8ZfRhmRg.tE87Pd11(OoD@i&amp;(pC4NVxTbW" />
    <!--Csgx.Csk53dFH7Js8ZfRhmRg.tE87Pd11(OoD@i&(pC4NVxTbW-->
    <!--<add key="integrationPassword" value="v&amp;d%FsPK5W1KSk1srRSR_&amp;vbt_XpqOx7HSXgFghhCrz.^2k%yK"/>-->

    <!--MaskinportenClientConfiguration: -->
    <add key="Virksomhetssertifikat" value="0228a6b80f1a3023217e7a" />
    <!--<add key="Virksomhetssertifikat" value="0d808ba443780f415180e8" />-->
    <!--Produksjon-->
    <add key="issuer" value="7d3fadd8-2f61-495e-9029-b1d2d84330ea" />

    <!--<add key="sendToAccountId" value="38f825e1-e7e4-4dc3-9932-21034a7d4090" />-->

    <add key="sendToAccountId" value="4b9b958b-2b2c-4986-b6c2-f646f2efe48f" />

  </appSettings>
</configuration>